* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  font-family: "Heebo", sans-serif;
}

 .landing{
   min-height: 100vh;
   background: url(./hero.jpg);
   background-size: cover;
   padding: 0rem 5rem;
 }

 nav{
   display: flex;
   justify-content: space-between;
   height: 10vh;
   align-items: center;
 }

 .nav-links{
   display: flex;
   list-style: none;
 }

 .nav-links li{
   padding-left: 10rem;
    font-size: 1.2rem;
 }

 #logo{
   font-family: "Lobster",cursive;
   font-weight: lighter;
   font-size: 2rem;
 }
 
 .big-text{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-30%);
   font-size: 5rem;
   font-family: "Lobster",cursive;
   color: rgb(61, 61, 61);
 }

 /* The animation */
 .intro{
   background: black;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex; 
   align-items: center;
   justify-content: center;
 }


.slider{
   background: rgb(133, 141, 143);
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   transform: translateY(100%);

}
 .intro-text{
  font-family: "Heebo", sans-serif;
  color: rgb(230, 233, 236);
  font-size: 3rem;

 }

 /* we hide the text behind this hide class and that below 
 done with the transform */

 .hide{
   background: black;
   /* hides the h1 inside hide */
   overflow: hidden;

 }

 .hide span{
   transform: translateY(100%);
   display: inline-block;
   
 }